.single{
    padding: 0px 5px;
    margin-top: 0px;
    background: #fcfcfc;
    border: 1px solid #f0f0f0;
}

 .detailed-description, .detailed-summary{
    padding: 10px 5px 0 5px;
    margin-top: 1px;
    background: #fcfcfc;
    border: 1px solid #f0f0f0;
}

 h3.side-title, h4.side-title, .foot-text {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 20px;
    color: #333;
    text-transform: uppercase;
}

h3.side-title:after, h4.side-title:after {
    content: '';
    width: 90px;
    height: 1px;
    background: #585858;
    display: block;
    margin-top: 6px;
}

.single ul {
    margin-bottom: 0;
}

.single li a {
    color: #666;
    font-size: 14px;
    text-transform: capitalize;
    border-bottom: 1px solid #f0f0f0;
    line-height: 40px;
    display: block;
    text-decoration: none;
}

.single li a:hover {
    color: #A4A4A4;
}

.single li:last-child a {
    border-bottom: 0;
}

.scrollbox {
    height: 250px;
    overflow-y: scroll;
}

.detailed-description p{
    text-align: justify;
    padding: 0 0.6em 0 0.3em;
}