@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto&display=swap');
p {
  font-family: "Open Sans", sans-serif;
  text-align: justify;
}
.fondo {
    background-color: white;
    margin-bottom: 1%;
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    background-size: 100% 100%;
}

#fondo-footer {
    background-color: #ffffff;
    height: auto;
    padding-left:  10%;
    padding-right: 10%;
}


.bg-dark {
    transition: all 1s ease;
}

.img-fondo {
    width: 100%;
    height: auto;
}

.img-familia {
    border-radius: 69%;
    height: auto;
    width: 70%;
    border: solid 5px #fff;
}

.caja1 {
    width: 100%;
    height: 300px;
    position: relative;
    display: inline-block;
    text-align: center;
}

.caja-title {
    text-align: center;
    margin-top: 5%;
}

.title1 {
    margin-left: 25%;
}

.title2 {
    margin-left: 25%;
}

.title2 {
  width: 61%;
  margin-left: 20%;
  color: #3e3e3e;
  font-family: 'Knewave', cursive;
}

.title3 {
    padding: 2%;
    width: 57%;
    margin-left: 20%;
    margin-top: 10%;
    font-family: 'Knewave', cursive;
}



.title5 {
    color: #3e3e3e;
    margin-left: 0%;
}

.caja-texto4 {
    text-align: center;
    width: 100%;
}

#caja-texto {
    background-color: #38b6ff;
    color: white;
    height: auto;
    width: 70%;
    font-size: 2.1rem;
    text-align: center;
    font-family: 'Signika', sans-serif;
    margin-left: 14%;
    margin-top: 7%;
}

#caja-texto2 {
    height: auto;
    width: 71%;
    text-align: center;
    font-size: 3rem;
    font-family: 'Signika', sans-serif;
    margin-left: 7%;
}

#caja-texto3 {
    text-align: justify;
    color: white;
    width: 100%;
}

#tex3 {
    color:white;
    font-family: 'Knewave', cursive;
}

#texto5 {
    color: white;
    font-family: 'Signika', sans-serif;
}

.texto6 {
    color: white;
    font-family: 'Signika', sans-serif;
}

#caja0 {
    margin-bottom: 12%;
    height: 54px;
    width: auto;
}

.cajas {
    width: 100%;
    height: 45px;
}

h2 {
  text-align: center;
    font-size: 3rem;
    color: white;
    padding-top: 4%;
    padding-bottom: 3%;
    font-family: 'Knewave', cursive;

}

#dog1 {
    border-radius: 69%;
    border: solid 5px #fff;
    margin-left: 12%;
    margin-top: 18%;
}

#dog2 {
    border-radius: 90%;
    border: solid 5px #fff;
    margin-left: -1%;
    height: auto;
    width: 100%;
}

#htitulo {
    color: white;
    font-family: 'Knewave', cursive;
       text-shadow: 1px 1px 0.5px black;
    margin-top: 25%;
    font-size: 4rem;
    margin-left: 20%;
    /*
  -webkit-text-stroke: 2px black;
  */
}

/********IMAGENES***********/
#fondo-footer {
}

#fondo1 {
    background-image: url('../img/fondo1.png');
    padding: 15%;
}

#fondo3 {
    background-image: url('../img/dog.jpg');
    padding: 25%;
       text-shadow: 2px 2px 4px black;
}

#fondo5 {
  background-color: #343a40!important;
  height: auto;
  width: 100%;
  background-attachment: fixed;
  background-size: 100% 100%;

}

#family_1{
  background-image: url('https://cdn.bolivia.com/sdi/2018/12/08/perro-el-mejor-amor-de-una-mujer-692492.jpg');
  background-position: center;
  background-size: 168%;
}
#family_4{
  background-image: url('https://www.serdomas.es/wp-content/uploads/perro-personasmayores.jpg');
  background-position: center;
  background-size: 168%;

}
#family_5{
  background-image: url('https://assets.trome.pe/files/article_main/files/crop/uploads/2017/03/31/58de7f0a71541.r_1490977707102.0-82-2121-1145.jpeg');
  background-position: center;

}
.family_2{
  height: 300px;
  background-size: 144%;
}
.family_3{
  color: white;
  text-align: justify;
  margin-top: 4%;
}

/**************************/
html {
    scroll-behavior: smooth;
}

/************Login**************/
#cajalogin {
    margin-top: 15%;
    width: 40%;
    margin-bottom: 10%;
}

#caja1log {
    background-color: grey;
    height: 300px;
    width: 100%;
    text-align: center;
    color: white;
    border-radius: 5%;
}

#loglogin {
    height: 50%;
    border-radius: 70%;
    margin-top: 15%;
    transition: all 0.3s ease;
}

#loglogin:hover {
    -webkit-transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform: rotateY(180deg);
    transform-style: preserve-3d;
}

.footer-copyright a{
    color: black;

}

/**************************/
@media screen and (max-width:800px) {
    .fondo {
        height: auto;
    }



    .title4 {
        width: 89%;
        margin-left: 0%;
        color: #38b6ff;
        font-size: 2rem;
        text-align: center;
        margin-top: 10%;
    }

    #htitulo {
      color: #ffffff;
      font-family: 'Knewave', cursive;
      font-size: 2rem;
      margin-left: 0%;
      margin-top: 72%;
      margin-bottom: 85%;
  }

  #caja-texto2 {
    font-size: 2rem;
    margin-left:0%;
    width: 100%;
}

#dog2 {
    border-radius: 90%;
    border: solid 5px #fff;
    margin-left: -1%;
    height: auto;
    width: 80%;
}

#fondo1 {
    background-image: url('../img/fondo1_1.png');
    background-size: 100% 100%;
}
#fondo3{
  background-image: url('../img/dog_1.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;

}

#fondo5 {
  background-color: #343a40;
}
#fondo-footer{
  color: black;
  margin-left: 0%;
  text-align: justify;
}
