
/*-----inicio.php---------*/
html{
  height: 100%;
}
body{
  background-color: #f2f3f5;
}
.contenedor{
  background-color: #fff;
}
#bodyinicio{
  background-size: 100%;
}
#inicio1{
background-color:none;
margin-top: 1%;
margin-bottom: 5%;
}
.menuinicio{
  list-style:none;

  transition-duration: 0.8s;

}.menuinicio1{
  list-style:none;

  transition-duration: 0.8s;

}
.menuinicio1:hover{
  background-color: #1abc9c;
  transform:scale(1.1);

}
.imgInicio{
  border-radius: 5%;
}
.imgInicio:hover{
  opacity: 0.07;
  opacity: 0.07;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity 500ms;
}

/*--------------------------*/
.texoMenu{
  color: white;
}
.texoMenu:hover{
  text-decoration: underline;
  color: white;
}

body{
  min-height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.content{
  flex: 1;
}
#menu{
  /* box-shadow: 2px 10px 10px #666;        Sombra normal */
}
#caja1{
   height: 471px;
   width: auto;
 }


footer{
  color: white;
}
footer .socila-list {
  overflow: hidden;
  margin: 20px 0 10px;
}

footer .socila-list li {
  float: left;
  margin-right: 5px;

  overflow: hidden;
  border-radius: 10%;
  transition: all 0.3s ease-in-out;
}
 #datosfooter {
  float: right;
margin-right: 3%;
}
.imgfooter{
  height: 40px;
margin-left: 17px;
}



footer .copyright {
  padding: 15px 0;
  background: #3d3d49;  
  margin-top: auto;
  font-size: 15px;
}

footer .copyright span {
  color: white;
}
