
/*****usuario********************/
.imgUsuario{

  width: calc(50% + 10px);
  box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-width: 0;
  border-radius: 10px;
}

#cajaUsario{
  background-image: url("../img/fondo1.png");
  background-size: 100%;
  width: 100%;
  margin: 10px 0 75px 0;
  background-attachment: fixed;
  background-repeat: repeat;
  color: #fff;
  text-shadow: 1px 2px 4px black;
  padding: 12%;
}

#cajaUsario2{
  border-left:solid;
  border-right: solid;
  border-color: #80808059;
}


/*********************************/

/************adduser*********************/
#cajadd1{
  height: auto;
  width: 100%;
  background-color: #f1c40f;

}
#cajadd2{
  margin-bottom: 3%;
}
#tituloadd{
  margin-top: 5%;
}
#avatar{
  width: calc(50% + 20px);
  box-shadow: 0px 3px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-width: 0;
  border-radius: 10px;
  /***************************************/
